{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Expense</title>
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script
            src="{% static 'Jquery/code.jquery.com_jquery-3.7.1.min.js' %}"></script>
        <script
            src="{% static 'bootstrap-4.6.2-dist/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <!-- AOS -->
        <link href="{% static 'AOS/unpkg.com_aos@2.3.1_dist_aos.css' %}"
            rel="stylesheet">
        <script
            src="{% static 'AOS/unpkg.com_aos@2.3.1_dist_aos.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    </head>
    <body>

        <div>
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
                <a class="navbar-brand" href="{% url 'index' %}">Expense
                    Tracker</a>
                <!-- Add Django URL for 'home' in href -->
                <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="{% url 'add_expense' %}">Expense
                                Detail</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'logout' %}"
                                class="nav-link">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div style="margin-top: 10%;">
                <div class="container col-md-5 shadow-lg"
                    style="margin-left: auto;margin-right: auto;border: 2px solid;margin-top:5%;margin-bottom:5%;padding-top: 1%;padding-bottom: 2%;">
                    <h1 style="text-align: center;">Add Source</h1>

                    {% if messages %}
                    <ul class="messages"
                        style="color: red;">
                        {% for message in messages %}
                        <li {% if message.tags %}
                            class="{{ message.tags }}"
                            {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <form action="{% url 'add_expense' %}" method="post">
                        {% csrf_token %}
                        <div>
                            <label class="col-form-label">Source Name</label>
                            <input type="text" class="form-control"
                                name="source_name" required>
                        </div>
                        <div>
                            <label class="col-form-label">Total Amount</label>
                            <input type="number" class="form-control"
                                name="total_amount" required>
                        </div>
                        <div>
                            <br>
                            <button class="btn btn-primary"
                                type="submit">Add</button>
                        </div>
                    </form>
                </div>

            </div>
            <!-- table ka code hay ye -->
            {% if expenses %}
            <div class="container shadow-lg">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th>Total Amount</th>
                            <th>Spent Amount</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenses %}
                        <tr>
                            <td>{{ expense.source.source_name }}</td>
                            <td>{{ expense.total_amount }}</td>
                            <td>{{ expense.spent_amount }}</td>
                            <td>
                                <!-- Add update and delete buttons with source name in URLs -->
                                <a href="#"
                                   class="btn btn-primary">Update</a>
                                <a
                                    href="{% url 'delete_expense' source=expense.source.source_name %}"
                                    class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="container col-md-5 shadow-lg"
                style="margin-left: auto;margin-right: auto;border: 2px solid;margin-top:5%;margin-bottom:5%;padding-top: 1%;padding-bottom: 2%;">
                <p class="text-muted">No expenses available.</p>
            </div>
            {% endif %}
        </div>
        {% if expenses %}
        <div class="container col-md-5 shadow-lg"
            style="margin-left: auto;margin-right: auto;border: 2px solid;margin-top:5%;margin-bottom:5%;padding-top: 1%;padding-bottom: 2%;">
            <canvas id="expenseChart"></canvas>

        </div>

        <div class="container col-md-5 shadow-lg"
            style="margin-left: auto;margin-right: auto;border: 2px solid;margin-top:5%;margin-bottom:5%;padding-top: 1%;padding-bottom: 2%;">
            <canvas id="expenseChart2"></canvas>

        </div>
        {% endif %}

        <script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('expenseChart').getContext('2d');
        var amountData = {{ amount_data|safe }};
        
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: amountData.labels,
                datasets: [{
                    label: 'Total Amount',
                    data: amountData.data,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Source Name'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        // second chart
    var ctx2 = document.getElementById('expenseChart2').getContext('2d');
            var spent_amountData = {{ spent_amount_data|safe }};
            
            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: spent_amountData.labels,
                    datasets: [{
                        label: 'Spent Amount',
                        data: spent_amountData.data,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Source Name'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
    });

    
</script>

    </body>
    <!-- footer -->
    <footer class="blockquote-footer">
        <p style="font-weight: bold;">Developed By:</p>
        <p><a href="https://my-portfolio-cqip.vercel.app/"
                target="_blank">Muhammad Amjad</a></p>
    </footer>
</html>